<!DOCTYPE html>
<html>
<head>
	<title>WikiViewer</title>
	<link rel="stylesheet" type="text/css" href="./main.css">

</head>
<body>
	<div id="app">
		<div id='search'>
			<h1>Search</h1>

			<input type="text" v-model="searchString" id="search-terms">
			<button v-on:click="makeSearchReguest">Submit</button>
		
			<ul id='results' v-if="searchResults">
				<li v-for="result in searchResults">
					<a href="#" v-on:click="updateArticle(result)">
						<h3>{{result.title}}</h3>
						<p>{{result.content}}</p>
					</a>
				</li>
			</ul>
		</div>
		<div id="article">
			<h1>Article</h1>
			<a :href="wikiLink">
				<h2 if='title'>{{ title }}</h2>
				<div v-html='content' id=content>
				</div>
			</a>

		</div>
	</div>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="./app.js"></script>
</body>
</html>