
@import url('https://fonts.googleapis.com/css?family=Domine');

body {
	font-family: 'Domine', serif;;
}

#list-items {
	padding: 10px;
	.list-item-link {
		color: white;
		padding: 10px;
		background: #00D1B2;
	}
}

#mobile-search {
	padding: 10px;
	background: #00D1B2;
	width: 100%;
	text-align: center;
}


#article {
	#headline {
		text-align: center;
		a {
			font-size: 1rem;
		}
	}
	.content {
		padding: 10%;

		table {
			display: none;
		}
		.thumbinner {
			width: 100% !important	;
			text-align: center;
			.PopUpMediaTransform {
				width: 100% !important;

				img {
					padding: 10px;
					max-width: 100%;
					height: auto;
					margin:auto;
					display: block;
				}

			}
		}
		.thumbimage {
			padding: 10px;
			width: 50%;
			height: auto;
			margin:auto;
			display: block;
		}
		.thumbcaption {
			font-size: .75rem;
			text-align: center;
			max-width: 60%;
			margin: auto;
		}
		p {
			margin: 10px;
		}
		ul {
			padding: 20px;
			list-style: none;
			li {
				padding: 2px;
			}
		}
	}
	.mw-editsection {
		display: none;
	}
	#landing {
		text-align: center;
		display: block;
	}
}

footer {
	font-size: .75rem;
	height: 40px;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: lightgray;
	a {
		color: blue;
	}
}

.subtitle {
	margin-top: 10px !important;
}

.form {
	padding: 20px;
	width: auto;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.55s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}